In [1]:
import pymysql

In [2]:
%load_ext sql

In [3]:
%sql mysql+pymysql://root:eitapreulasql@127.0.0.1:3306

In [7]:
%%sql
use chicago;
select database();

 * mysql+pymysql://root:***@127.0.0.1:3306
0 rows affected.
1 rows affected.

[('chicago',)]

In [52]:
%%sql
show tables;

 * mysql+pymysql://root:***@127.0.0.1:3306
3 rows affected.

[('chicago_crime',),
 ('chicago_public_schools',),
 ('chicago_socioeconomic_data',)]

List the case number, type of crime and community area for all crimes in community area number 18.

In [58]:
%%sql
select CC.case_numBer, CC.primary_type, CSD.community_area_name
from chicago_crime as CC
inner join chicago_socioeconomic_data as CSD
    on CC.community_area_number = CSD.community_area_number
where CC.community_area_number = 18;

 * mysql+pymysql://root:***@127.0.0.1:3306
2 rows affected.

[('JA107722', 'OTHER OFFENSE', 'Montclaire'),
 ('JA560123', 'CRIMINAL DAMAGE', 'Montclaire')]

List all crimes that took place at a school. Include case number, crime type and community name.

In [77]:
%%sql
select CC.case_number, CC.primary_type, CC.description, CSD.community_area_name
from chicago_crime as CC
left join chicago_socioeconomic_data as CSD
    on CC.community_area_number = CSD.community_area_number
where CC.location_description like "%school%"

 * mysql+pymysql://root:***@127.0.0.1:3306
12 rows affected.

[('HL353697', 'BATTERY', 'SIMPLE', 'South Shore'),
 ('HL725506', 'BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'Lincoln Square'),
 ('HP716225', 'BATTERY', 'SIMPLE', 'Douglas'),
 ('HH639427', 'BATTERY', 'SIMPLE', 'Austin'),
 ('JA460432', 'BATTERY', 'SIMPLE', 'Ashburn'),
 ('HS200939', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'Austin'),
 ('HK577020', 'NARCOTICS', 'POSS: HEROIN(WHITE)', 'Rogers Park'),
 ('HS305355', 'NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'Brighton Park'),
 ('HT315369', 'ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'East Garfield Park'),
 ('HR585012', 'CRIMINAL TRESPASS', 'TO LAND', 'Ashburn'),
 ('HH292682', 'PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'CHICAGO'),
 ('G635735', 'PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'CHICAGO')]

For the communities of Oakland, Armour Square, Edgewater and CHICAGO list the associated community_area_numbers and the case_numbers.

In [82]:
%%sql
select CC.community_area_number, CC.case_number, CSD.community_area_name
from chicago_crime as CC
right join chicago_socioeconomic_data as CSD
    on CC.community_area_number = CSD.community_area_number
where CSD.community_area_name = 'Oakland'
or CSD.community_area_name = 'Armour Square'
or CSD.community_area_name = 'Edgewater'
or CSD.community_area_name = 'CHICAGO'

 * mysql+pymysql://root:***@127.0.0.1:3306
47 rows affected.

[(None, None, 'Armour Square'),
 (None, None, 'Oakland'),
 ('77', 'HM392612', 'Edgewater'),
 ('77', 'HV537004', 'Edgewater'),
 ('', 'G021609', 'CHICAGO'),
 ('', 'G158614', 'CHICAGO'),
 ('', 'G635735', 'CHICAGO'),
 ('', 'HH292682', 'CHICAGO'),
 ('', 'G057394', 'CHICAGO'),
 ('', 'G302291', 'CHICAGO'),
 ('', 'G122095', 'CHICAGO'),
 ('', 'G575031', 'CHICAGO'),
 ('', 'G326063', 'CHICAGO'),
 ('', 'HH208082', 'CHICAGO'),
 ('', 'G161722', 'CHICAGO'),
 ('', 'G345035', 'CHICAGO'),
 ('', 'G629024', 'CHICAGO'),
 ('', 'G654957', 'CHICAGO'),
 ('', 'G652158', 'CHICAGO'),
 ('', 'G611731', 'CHICAGO'),
 ('', 'HH149573', 'CHICAGO'),
 ('', 'G375927', 'CHICAGO'),
 ('', 'G659211', 'CHICAGO'),
 ('', 'HH154448', 'CHICAGO'),
 ('', 'HH106347', 'CHICAGO'),
 ('', 'G170513', 'CHICAGO'),
 ('', 'G323273', 'CHICAGO'),
 ('', 'G496261', 'CHICAGO'),
 ('', 'G134016', 'CHICAGO'),
 ('', 'HH262924', 'CHICAGO'),
 ('', 'G140454', 'CHICAGO'),
 ('', 'G198370', 'CHICAGO'),
 ('', 'G070193', 'CHICAGO'),
 ('', 'G533278', 'CHICAGO'),
 ('', 'G419948', 'CHICAGO'),
 ('', 'G688026', 'CHICAGO'),
 ('', 'G056330', 'CHICAGO'),
 ('', 'G517474', 'CHICAGO'),
 ('', 'G736811', 'CHICAGO'),
 ('', 'G597730', 'CHICAGO'),
 ('', 'HH316735', 'CHICAGO'),
 ('', 'G376790', 'CHICAGO'),
 ('', 'G040244', 'CHICAGO'),
 ('', 'G662598', 'CHICAGO'),
 ('', 'G212935', 'CHICAGO'),
 ('', 'HH201585', 'CHICAGO'),
 ('', 'G256545', 'CHICAGO')]